@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@700&family=Space+Mono:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-w-[300px] bg-midnight-blue font-sans text-light-grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
